{% extends "base.html" %}

{% block title %} &ndash; {{ article.title }}{% endblock %}

{% block content %}
<article>
    <header>
        <h1 id="{{ article.slug }}">{{ article.title }}</h1>
        <p>
        Posted on {{ article.locale_date }} in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        {% if article.tags %}
            &#8226;
            {% for tag in article.tags %}
                <a class="tags btn" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
            {% endfor %}
        {% endif %}
        </p>
    </header>
    <div>
        {{ article.content }}
    </div>
</article>
{% endblock %}

